@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #666;
}
a:hover {
    color: #01a765;
    text-decoration: none;
}
.header-top {
    background:#0A3061;
    height: 40px;
    padding-left: 20px;

    color: #FFF;
}

.header-top a {
    color: #FFF;
}
.header-top a:hover{
    color:#00204B;
}
.header-top .slogan {
    float: left;
    line-height: 40px;
    font-size: 16px;
}
.header-top .slogan h1 {
    font-size: 16px;
    display: inline;
}

.header-top .uye-islemleri {
    float: right;
    line-height: 40px;
    margin-right: 20px;
    color: #FFF;
}
.header-top .uye-islemleri a {
    padding: 0 2px;
    display: inline-block;
    color: #FFF;
}
.header-top .uye-islemleri a:hover {
    color: #01a765;
}




.navbar {
    background:#00204B!important;

}


.navbar .navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    color:#FFB41D;
    font-size:25px;
}
.navbar .navbar-brand:hover {
    color:#bb8b29;

}

.navbar ul.navbar-nav li.nav-item .nav-link {

    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#fff;
    padding:12px 41px;
}
.navbar ul.navbar-nav li.nav-item .nav-link:hover {
    background:#FFB41D;
    color:#fff;
}
.navbar-toggler-icon{
    background:#fff;
}

.dropdown-item{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:#fff;
    padding-bottom:10px;
    padding-top:10px;

}
.dropdown-item:hover{
    background:#FFB41D;

}
.dropdown-menu{
    background-color:#00204B;
}

.carousel-caption{
    top:15%!important;

}
.carousel-caption h5{
    font-family: 'Roboto', sans-serif;
    font-size:70px;
    color:#fff;
    text-shadow:1px 1px 15px #000;
    letter-spacing:5px;
}
.carousel-caption p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:25px;
    color:#fff;
    font-weight:300!important;
    max-width:788px;
    margin:0 auto;

    text-shadow:1px 1px 15px #000;
}

section#content2 .colon2{

    min-height:170px;
    margin-top:25px;

}


section#content2 .colon2 img{
    margin:0 auto;
    padding:27px 0;
    max-width:300px;
    display:block;
}
section#content1{
    margin-top:25px;


}
section#content1 .colon1{
    background:#e8e8e8;
    min-height:259px;
    margin-top:25px;

}
section#content1 .colon1 img{
    margin:0 auto;
    padding:27px 0;
    max-width:100px;
    display:block;
}

section#content1 .colon1 h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
    font-weight:300;
    text-align:center;
}
section#content1 .colon1 p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:15px;
    font-weight:300;
    text-align:center;
}




.jumbotron {
    background-color:#444C50;
    text-align:center;
    max-height:230px;



}
.jumbotron p {
    font-size:20px;
    letter-spacing:2px;
    color:#fff;


}

.jumbotron h1 {
    font-size:50px;
    color:#fff;
    font-family: 'Roboto', sans-serif;

}
.jumbotron img{
    margin:-15px auto;
    padding:1px 0;
    max-width:100px;
    display:block;
}
/* top-image (üste resimler)*/

.sub-images {
    margin-bottom: 30px;
}

img {
    display: block;
    width: 100%;
    height:auto;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color:#FFB41D;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.footer-top {
    border: 1px solid #DDD;
    border-bottom: none;
    padding: 20px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.footer-top .item {
    height: 60px;
}
.footer-top .item .icon {
    float: left;
    width: 60px;
    height: 60px;
    padding: 9px;
    background: #f5f5f5;
    border: 1px solid #DDD;
}
.footer-top .item .icon img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 18px;
}
.footer-top .item .icerik {
    margin-left: 70px;
}
.footer-top .item .baslik {
    margin-bottom: 5px;
    color: #00204B;
    font-size: 12px;
    font-weight: 500;
}
.footer-top .item .aciklama {
    font-size: 12px;
}
.clear {
    clear: both;
}

/*HIRE*/
.content {
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 30px;
}
.content .left-menu {
    background: #00204B;
    padding: 15px;
}
.content .left-menu .menu-baslik {
    font-size: 18px;
    font-weight: 500;
    color: #0A3061;
    background: #FFF;
    padding: 15px;
    margin-bottom: 5px;
}
.content .left-menu ul li a {
    color: #FFF;
    padding: 8px 15px;
    border-bottom: 1px solid #FFFFFF;
    display: block;
}
.content .page-content .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
}
.breadcrumb>li, .pagination {
    display: inline-block;
}
a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #666;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.content .page-content h1 {
    margin-bottom: 15px;
    color: #00204B;
    font-size: 32px;
}
element.style {
    font-family: arial,sans-serif;
}
/* ARAÇ LİSTESİ*/
.content .page-content .filo-list .item {
    border-bottom: 1px dashed #CCC;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.content .page-content .filo-list .image {
    float: left;
    width: 220px;
    border: 1px dashed #CCC;
}
.content .page-content .filo-list .icerik {
    margin-left: 240px;
}
.content .page-content .filo-list .baslik {
    font-size: 22px;
    font-weight: 400;
}
.content .page-content .filo-list .aciklama {
    font-size: 16px;
    margin-bottom: 12px;
}
.content .page-content .filo-list .ozellik .item-ozellik {
    width: 50%;
    height: 35px;
    margin-bottom: 5px;
    float: left;
}
.clear {
    clear: both;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.button {
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    background: #00204B;
    color: #FFF;
    font-size: 16px;
    border: none;
    display: inline-block;
    cursor: pointer;
}
.content .page-content .filo-list .ozellik .item-ozellik .icon {
    float: left;
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    background: #EFEFEF;
    color: #00204B;
}
.content .page-content .filo-list .ozellik .item-ozellik .aciklama {
    margin-left: 40px;
    margin-right: 10px;
    padding-left: 8px;
    line-height: 35px;
    background: #F8F8F8;
    font-size: 12px;
    color: #000;
}