li {
    list-style-type: none;
}
body {
    background-attachment: fixed;
    background-image: url(../images/automobiles-automotives-car-show-235226.jpg);
}
form {
    color: #f4f4f4;
}
label {
    font-size: 25px;
}
p {
    font-size: 30px;
}
#submit {
    color: #fff !important;
    text-transform: uppercase;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    align-items: center;
}
#submit:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }